.football{
  padding: 250px 0;
  margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("football-stadium-tunnel-102671.jpg");
  background-size: cover;
  color: ##1177BA;
}
h1{
  font-size: 56px;
}
.page-title {
  text-align: center;
  font-weight: 100;
}
