
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }


    .row.content {height: 450px}


    .sidenav {
      padding-top: 20px;
      background-color: #1177BA;
      height: 100%;
    }


    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }


    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;

    }
    p{
      color: black;
      font-size: 50px;
      font-family: cursive;
    }
    h3{
      font-size: 75px;
    }
