.hero{
  padding: 250px 0;
  margin: 30px;
  background-image: url("https://snappygoat.com/s/?q=football#ce332d43f2c91ce5f5344ad79413d843f4e529a3,0,69.");
  background-size: cover;
  color: #ffffff;
}
